.vscode
jogo
testar
debug
lib/*
!lib/exemplo1.txt
!lib/exemplo2.txt
!lib/exemplo3.txt
!lib/teste1.txt
!lib/teste2.txt
!lib/teste3.txt
!lib/teste4.txt
!lib/teste5.txt
!lib/teste6.txt
!lib/teste7.txt
!lib/teste8.txt
!lib/history
lib/history/*
!lib/history/teste1.txt
!lib/history/teste2.txt
!lib/history/teste3.txt
!lib/history/teste4.txt
!lib/history/teste5.txt
!lib/history/teste6.txt
!lib/history/teste7.txt
!lib/history/teste8.txt