.vscode
jogo
testar
debug
lib/*
!lib/exemplo.txt
!lib/exemplo2.txt
!lib/teste1.txt
!lib/teste2.txt
!lib/teste3.txt
!lib/teste4.txt
!lib/history
lib/history/*
!lib/history/teste1.txt
!lib/history/teste2.txt
!lib/history/teste3.txt
!lib/history/teste4.txt